@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    position: absolute;
    width: 309px;
    height: 369px;
    left: 43px;
    top: 157px;


}


.main>h3 {
    font-weight: 400;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.arrow {
    height: 12px;
    width: 12px;
    position: relative;
    left: 10px;

}